.nibble-item {
  display: flex;
  flex-direction: row;
  min-height: 2rem;
  align-items: center;
  justify-content: space-between;

  .icons {
	display: flex;
	gap: 0.5rem;

	.icon {
	  font-size: 1.3rem;
	}

	.selectable {
	  cursor: pointer;
	}
  }
}

.nibble-item:hover {
  background-color: var(--light-night);
}