.nibble-header {
  display: flex;
  align-items: center;
  height: 3rem;
  border-bottom: solid 1px var(--border);
  background-color: var(--light-night);

  .menu-icon-div {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3rem;
	width: 3rem;
	margin-right: 0.5rem;

	.menu-icon {
	  font-size: 2rem;
	}
  }

  .menu-icon-div:hover {
	background-color: var(--border);
  }

  .title {
	margin: 0;
  }
}