@use "nerdy-lib/src/mixins" as mixins;

.take-a-nibble-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;

  button {
	border-radius: 20rem !important;
	font-weight: bold;
  }

  span {
	width: 90%;
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 2rem;
  }

  .buttons {
	display: flex;
	justify-content: space-between;
	width: 50%;

	@include mixins.desktop {
	  width: 20%
	}
  }
}