.take-a-nibble-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;

  button {
	border-radius: 20rem !important;
	font-weight: bold;
  }

  span {
	width: 90%;
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
  }
}